
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/BotonAgregar.css" rel="stylesheet" />
<link href="~/css/Options.css" rel="stylesheet" />


<h1>Seguros</h1>

@* <fieldset class="mb-3"> *@
@*     <legend>Clientes</legend> *@
@*     <form id="frmSeguro" method="post" class="row g-3"> *@
@*         <div class="col-md-6"> *@
@*             <label for="id" class="form-label">ID Clientes</label> *@
@*             <input type="text" class="form-control" id="id" name="id" placeholder="ID"> *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*             <label for="reservaId" class="form-label">ID Reserva</label> *@
@*             <input type="text" class="form-control" id="reservaId" name="reservaId" placeholder="ID Reserva"> *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*             <label for="tipoSeguro" class="form-label">Tipo Seguro</label> *@
@*             <input type="text" class="form-control" maxlength="300" id="tipoSeguro" name="tipoSeguro" placeholder="Tipo Seguro"> *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*             <label for="costo" class="form-label">Costo</label> *@
@*             <input type="text" class="form-control" maxlength="300" id="costo" name="costo" placeholder="Costo"> *@
@*         </div> *@
@*     </form> *@
@*     <div class="d-grid gap-2"> *@
@*         <button class="btn btn-primary" onclick="buscarSeguro()" type="button">Buscar</button> *@
@*         <button class="btn btn-primary" onclick="guardarDatos()" type="button">Guardar</button> *@
@*         <button class="btn btn-info" type="button" onclick="limpiarDatos()">Limpiar</button> *@
@*         <button class="btn btn-warning" onclick="modificar()" type="button">Actualizar</button> *@

@*     </div> *@

@* </fieldset> *@

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea agregar un nuevo dato?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <fieldset class="mb-3">
                    <form id="formAgregar" class="forma">
                        <p class="title">Formulario</p>
                        <p class="message">Al agregar, se insertará el registro en la tabla</p>
                        <div class="flex">
                            <label for="id" class="form-label">
                                <input type="number" class="input" id="id" name="id" placeholder="" required="" readonly>
                                <span>ID</span>
                            </label>

                            <label for="reservaId" class="form-label">
                                <input class="input" type="number" id="reservaId" name="reservaId" placeholder="" required="">
                                <span>ID Reserva</span>
                            </label>

                        </div>

                        <label for="tipoSeguro" class="form-label">
                            <input class="input" type="text" step="0.01" maxlength="300" id="tipoSeguro" name="tipoSeguro" placeholder="" required="">
                            <span>Tipo de Seguro</span>
                        </label>

                        <label for="costo" class="form-label">
                            <input class="input" type="number" maxlength="300" id="costo" name="costo" placeholder="" required="">
                            <span>Costo</span>
                        </label>

                    </form>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnAgregar" data-bs-dismiss="modal" onclick="guardarDatos()">Añadir</button>
                <button class="btnLimpiar" type="button" data-bs-dismiss="modal" onclick="modificar()">Actualizar</button>
                <button class="btnLimpiar" type="button" onclick="limpiarDatos()">Limpiar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="divtabla">
</div>

<div class="ConetenedorBtn" id="AgregarGenerico">
</div>

<div id="Options-config">
</div>

<script src="./js/generic.js"></script>
<script src="./js/Seguro.js"></script>