@{
    ViewData["Title"] = "Privacy Policy";
}

<link href="~/css/vehiculos.css" rel="stylesheet" />

<div class="container-index-all">
    <div class="container-index">
        <div class="header">
            <div class="title-section">
                <h1 id="titulo-principal" class="title"></h1>
            </div>
            <div class="model-year">

            </div>
        </div>

        <!-- Contenido principal en dos columnas -->
        <div class="main-content">
            <div class="description-section">

                <div class="warranty">
                    Garantía <span>5</span> años<br>
                    en todos los componentes
                </div>
            </div>

            <div class="car-section">
                <img src="" alt="KIA Stinger GT 2018" class="car-image">
            </div>
        </div>
    </div>
</div>

<script src="/js/generic.js"></script>
<script src="/js/mostrarVehiculos.js"></script>


